body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #323232;
    height: 100vh;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    border: none; /* Entfernt den Rahmen um die gesamte Tabelle */
}

td {
    width: 60px; /* Größe der Zellen */
    height: 60px; /* Größe der Zellen */
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

td:hover {
    background-color: #f0f0f046;
}

table td{
    border: 5px solid white;
}
table tr:first-child td{
    border-top: 0;
}

table tr td:first-child{
    border-left: 0;
}

table tr:last-child td{
    border-bottom: 0;
}

table tr td:last-child{
    border-right: 0;
}

.content{
    position: relative;
}


.replayButton{
    width: 160px;
    height: 64px;
    background-color: #1bf9aa;
    border-radius: 8px;
    border: 0.5px solid #1bf9aa;
    font-family: Arial, sans-serif;
    font-weight: 800;
}

.replayButton:hover{
    background-color: rgba(4, 253, 166, 0.595);
    cursor: pointer;
}